[submodule "https://github.com/CeeWhi/ArtisanDream.Tools.git Assets/Submodules/ArtisanDream.Tools"]
	path = https://github.com/CeeWhi/ArtisanDream.Tools.git Assets/Submodules/ArtisanDream.Tools
	url = https://github.com/CeeWhi/ArtisanDream.Tools.git
[submodule "Assets/Submodules"]
	path = Assets/Submodules
	url = https://github.com/CeeWhi/ArtisanDream.Tools
[submodule "3DEssentialsResources"]
	path = 3DEssentialsResources
	url = https://github.com/CeeWhi/3DEssentialsResources
